@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format(opentype);
    font-weight: normal
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    /*Armazena dados para inserção das informações em outros campos*/
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #347a55;
    --cor05: #114729;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    /*Se eu colocasse um margin top no header 1 h1, iria vazar do header*/
}

header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.267);
}

header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px; /*A partir do momento que faço isso, o meu texto vira um bloco*/
    margin: auto; /*Por isso usei esse margin*/
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.315);

}

nav {
    background-color: var(--cor05);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
    padding: 10px;
}

nav a{
    color: var(--cor01);
    padding: 10px; /*ISSO QUE TA SEPARANDO OS MENUS*/
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
    border-radius: 5px;
    transition-duration: 0.5s;
    
}

main {
    padding: 20px;

    min-width: 300px;
    max-width: 1000px;

    background-color: white;

    margin: auto;
    margin-bottom: 30px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height:2em; /*altura entrelinhas (facilita a leitura)*/ 
}

main strong{
    color: var(--cor05);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor03);
}
main img {
    width: 100%;
    /*Imagens se adaptarem a mudança de tamanho de tela*/
}

main .pequena {
    max-width: 350px;
    display: block;
    margin: auto;
    /* SÓ CONSEGUI CENTRALIZAR POR CONTA DO DISPLAY E MARGIN, POIS COMO POR PADRÃO UMA IMAGEM NÃO É UM BLOCO, O DISPLAY BLOCK AJUDA, PODENDO COLOCAR DEPOIS O MARGIN NORMALMENTE */
}

.video{
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    /* Coloquei o -20px para a margem grudar no main */
    padding: 20px;
    padding-bottom: 57%;
    /* Esse pading ele dimininui a barra preta do vídeo ao reproduzi-lo */
    position: relative;
}

.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    /* quando usamos um position absolute, podemos utilizar o top e o left */
}
aside{
    background-color: var(--cor02 );
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
}

aside > h3{
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*MARGEM NEGATIA VAZA PARA FORA. POR ISSO FIQUEI EM FORMATO DE BLOQUINHO ASSIM (EMBAIXO N PRECISA)*/
    border-radius: 10px 10px 0px 0px;
}

aside ul{
list-style-type: '\2714\00A0\00A0'; /*Importando emoji de check. Cuidado: Não se esquecer de colocar a contra BARRA. Esse 00A0 é o código de espaço, então coloquei 2 vezes para dobrar o espaçamento*/

    list-style-position: inside; /*Fez com que a bolinha 
    ficasse dentro do background color*/

columns: 2; /*Dividi a lista em 2 colunas*/
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor02);
}