@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%*/
}
p {
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #F2D7B6, #D97B59);
}
h1 {
color: #e40909;
text-align: center;
text-shadow: 1px 1px 2px #e4090993 ;
}
h2 {
color: rgb(20, 20, 148);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #644f43d0;
}